# vim anything
.*.swp


# History files
.Rhistory

# Example code in package build process
*-Ex.R.

# latex garbage
*.nav
*.toc
*.aux
*.out
*.log
*.snm

*.dvi

dude.tex
mac_overfit.tex
skew_study_show.tex
rauto.bib

# bibtext garbage
*.bbl
*.blg

# knitr cache
cache/
figure/*.pdf
figure/*.eps

